/* Mobile First View: */

/* Style the header which contains the navigation links */
header {
  background-color: #183d4e;
  overflow: hidden;
  opacity: 1;
  position: sticky;
  top: 0;
}

/* Hide the checkbox which we use for the hamburger menu functionality */
#hamburger_checkbox {
  display: none;
}

/* Style the image we use as a label for the hamburger menu checkbox */
#hamburger_image {
  background-color: white;
  opacity: 1;
  display: inline-flex;
  align-self: flex-start;
  float: right;
  padding: 5px;
  width: 60px;
  margin-top: -20px;
}

/* Show or hide the navigation links depending on whether the hamburger menu checkbox is checked or not */
input[id="hamburger_checkbox"]:not(:checked) + nav {
  display: none;
}

/* Style the heading */
h1 a {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  letter-spacing: 8px;
  display: inline-flex;
  align-self: flex-start;
  float: left;
  padding: 0px 0px 0px 35px;
  text-decoration: none;
  margin: -8px 0px 5px 0px;
}

/* Style the links inside the navigation bar */
nav a {
  background-color: #296b8a;
  color: #E3DFDE;							
  float: left;
  font-size: 17px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 0px 0px 0px 0px;

}


/* Change the color of links on hover using mouse */
nav a:hover {
  background-color: #3c9fcd;
  color: #E3DFDE;	
}

/* Change the color of links on focus using tab key */
nav a:focus {
  background-color: white;
  color: black;
  outline: none;
}

/* Change the color of the active/current link 
.active_nav {
  background-color: #72371c;
  color: white;
}*/








 /* For tablets: */
@media only screen and (min-width: 600px) {
 

 


}









 /* For desktop: */
@media only screen and (min-width: 768px) {

  /* Hide the hamburger menu image we use as a label for the hamburger menu checkbox */
  #hamburger_image {
    display: none;
  }

  /* Show the navigation links... even if the hamburger menu checkbox is not selected (menu open) */
  input[id="hamburger_checkbox"]:not(:checked) + nav {
    display:block
  }

  /* Style the Peru heading */
  h1 {
    text-align: left;
    width: 30px;
  }

  /* Style the navigation bar */
  nav {
    float: right;
    margin: -15px 8px 5px 0px;
    top: auto;
  }

  /* Style the links inside the navigation bar */
  nav a {
    width: auto;
    padding: 10px 25px;
  }



}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}